<ion-card>
    <ion-card-header color="tertiary">
        <ion-card-title>
            <img src="https://upload.wikimedia.org/wikipedia/en/c/c8/Rick_and_Morty_logo.png">
        </ion-card-title>        
    </ion-card-header>
</ion-card>

<ion-card-content>
    <ion-grid>
        <ion-row class="ion-text-center">
            <ion-col>Id: {{rick.id}}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col>Nombre: {{rick.name}}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col>Estado: {{rick.status}}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col>Especie: {{rick.species}}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col>Tipo: {{rick.type}}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col>Genero: {{rick.gender}}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col>Nombre del origen: {{rick.origin.name}}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col>Url del origen: {{rick.origin.name}}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col>Nombre de ubicacion: {{rick.location.name}}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col>Url de ubicacion: {{rick.location.url}}</ion-col>
        </ion-row>   
        <ion-row>
            <ion-col>Imagen: <img src="{{rick.image}}"> </ion-col>
        </ion-row>
        <ion-row>Episodios:
            <ion-col class="breaking">
                <ion-col>{{rick.episode}}</ion-col>                
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>Url: {{rick.url}}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col>Creado en: {{rick.created}}</ion-col>
        </ion-row>       
    </ion-grid>
</ion-card-content>